<html>
	<head>
		<title> My Entertainment </title>
		<link href="./style.css" rel="stylesheet" />
	</head>

	<body>
			<div class="nav-bar-container">
				<div class="nav-bar-1">
					<img src="./img/logo.png"/>
				</div>

				<div class="nav-bar-2">
					<a href="#"> Home  </a>
					<a href="#"> Movies </a>
					<a href="#"> TV Shows </a>
					<input type="submit" name value="Read New Manga" />	
				</div>

				<div class="nav-bar-3">
						<button type="submit">
							<a href="#">
								<img src="./img/search-button.png"/>
							</a>
						</button> 
				</div>
			</div>
			<div class="page-container">
				<div class="new-release-poster">
					<div class="new-release-logo">
					</div>
				</div>
				<div class="Moderate-spacing">
				</div>
				<h6> Last Seen </h6>
				<div class="Light-spacing">
				</div>
				<div class="Movie-catelog">
				</div>
				<div class="Light-spacing">
				</div>
			</div>
	</body>
</html>
