<html>
	<head>
		<title> My Entertainment </title>
		<link href="./style.css" rel="stylesheet" />
	</head>

	<body>
		<div class="nav-bar-container">
			<div class="nav-bar-1">
					<img src="./img/logo.png"/>
			</div>

			<div class="nav-bar-2">
					<span> Home  </span>
					<span> Movies </span>
					<span> TV Shows </span>
					<span> Genres </span>
					<span> Live TV </span>
					<span> Live Sports </span>
					<form action="">
						<input type="submit" name value="Read New Manga" />			
					</form>
			</div>

			<div class="nav-bar-3">
					<form action="">
						<button type="submit"><img src="./img/search-button.png"/> </button> 
					</form>
					<form action="">
						<button type="submit"><img src"./img/bookmark.png" /> </button>
					</form>
			</div>

		</div>


		<div class="trending-content">
		</div>
		<div class="top-10-movies">
		</div>
		<div class="footer">
		</div>
	</body>
</html>
