<html>
	<head>
		<title> My Entertainment </title>
		<link href="./style.css" rel="stylesheet" />
	</head>

	<body>
		<div class="nav-bar-container">
			<div class="nav-bar-1">
					<img src="./img/logo.png"/>
			</div>

			<div class="nav-bar-2">
					<a href="#"> Home  </a>
					<a href="#"> Movies </a>
					<a href="#"> TV Shows </a>
					<a href="#"> Genres </a>
					<a href="#"> Live TV </a>
					<a href="#"> Live Sports </a>
					<input type="submit" name value="Read New Manga" />	
			</div>

			<div class="nav-bar-3">
						<button type="submit">
							<a href="#">
								<img src="./img/search-button.png"/>
							</a>
						</button> 
			</div>

		</div>

		<div class="content">	
				<div class="trending-content">
				</div>
				<div class="top-10-movies">
				</div>
				<div class="footer">
				</div>
		</div>
	</body>
</html>
